body {
    background-color: orange;
    font-family: "verdana";
   }
   
   .flex {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     
   /*   border: solid 1px red; */
   }
   
   .flex > * {
   /*   flex: 1; */
     text-align: center;
     padding: 20px;
     width: 100px;
     margin: 0 20px;
   /*   background-color: rgb(255,140,0); */
     border-radius: 10px;
     color: rgba(255,255,255,0.5);
     border: solid 2px rgba(255,255,255,0.5);
     
   /*   border: solid 1px red; */
   }
   
   .flex > *:hover {
     background-color: rgba(255,255,255,0.1);
     
   /*   border: solid 1px red; */
   }
   
   .flex-column {
     display: flex;
     flex-direction: column;
     height: 100vh;
     align-items: center;
     justify-content: center;
     
   /*   border: solid 1px red; */
   }
   
   .input {
     background-color: orange;
     border: none;
     height: 50%;
     width: 70%;
     font-size: 40px;
     text-overflow: ellipsis;
     
   /*   border: solid 1px red; */
   }
   
   .input:focus {
     outline: none;
   }
   
   ::placeholder {
     color: rgba(255,255,255,0.3);
   }
   
   .row1 {
     flex: 1;
   }
   
   .row2 {
     flex: 4
   }
   
   .red {
     color: white;
   }
   